<app-header (sendDataToParent)="eventFromChild($event)"></app-header>
<div class = 'text-center'>  
  <div *ngIf = "!ad && !isAuthor">
    You are not allowed to view this page
  </div>
  <div *ngIf = 'deleteView' >
    The ad <span class="font-weight-bold">"{{ad.title}}"</span> has been removed. 
    You will be redirected back to main page in 5 seconds.    
  </div>
  <div *ngIf = "ad && !deleteView">
    <a *ngIf = 'isEditor' class="btn btn-success" routerLink='//edit/{{ad.id}}'>Edit Post</a>
    <h2>{{ad.title}} Details</h2>
    <div><span>id: </span>{{ad.id}}</div>
    <div><span>Title: </span>{{ad.title}}</div>
    <div><span>Description: </span>{{ad.descr}}</div>
    <div><span>Posted on: </span>{{ad.date| date:"MM/dd/yyyy"}}</div>
    <div><span>Author: </span>{{ad.author}}</div>    
  </div>
  <div *ngIf = 'isAuthor' class="formContainer">
      <div class="form-group">
        <label>Title:
          <input class="form-control width50" [(ngModel)]="ad.title" placeholder="Ad's title" required>
        </label>
      </div>
      <div class="form-group">
      <label>Description:
        <textarea class="form-control width50" [(ngModel)]="ad.descr" placeholder = "Description" rows="3" required></textarea>
      </label>
      </div>
      <a class="btn btn-success" (click)="saveChanges()">Save</a>
    </div>
</div>