<app-header (sendDataToParent)="eventFromChild($event)"></app-header>
<div class="container">
        <div class="text-center">
            <!-- items being paged -->
            <ul class="ads">
                <li *ngFor="let ad of pagedItems">
                    <!-- (click)=selectAd(ad)-->
                    <div *ngIf="name===ad.author" class="pull-right">
                        <a  routerLink="/delete/{{ad.id}}">Delete</a>
                    </div>                    
                    <a routerLink="/{{ad.id}}"><span class="badge">{{ad.id}}</span> {{ad.title}}</a>
                    <p><span>Created by: {{ad.author}}</span>|<span>Created at: {{ad.date|date:"MM/dd/yyyy"}}</span></p>
                    <p>{{ad.descr}}</p>
              </li>
            </ul>
            <!-- pager -->
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>
    </div>  