.ads {
    list-style: none;
    margin-top: 25px;
    max-width: 450px;
    min-width: 360px;
    margin: 0 auto;
    text-align: left;
    width: 100%;
}
.ads li:nth-child(odd) {
    background-color: #7bb47b56;
}