.container {
  text-align: right;
}
.form-group {
  display: inline-block;
  max-width: 50%;
  margin: 0px 10px;
  height: 60px;
  text-align: left;
  position: relative;
}
.alert {
  position: absolute;
  width: 100%;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;  
}
  
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;   
}