
<div class="container">   
  <form (ngSubmit)="onSubmit(user)" #loginForm="ngForm" [hidden]="submitted">     
    <div class="form-group form-inline">
      <label for="name">User name</label>
      <input type="text" class="form-control" id="name" required
      [(ngModel)]="user.name" name="name"
      #name="ngModel">
      <div [hidden]="name.valid || name.pristine"
        class="alert alert-danger">
        Name is required
      </div>   
    </div>
    <div class="form-group form-inline">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required
      [(ngModel)]="user.password" name="password"
      #password="ngModel">
      <div [hidden]="password.valid || password.pristine"
        class="alert alert-danger">
        {{passErr}}
      </div>   
    </div>
    <a class="btn btn-success" routerLink="//">Main Page</a>
    <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Login</button>
  </form>  
  <div class="form-group" *ngIf = "logged">
    <span>Hello, {{author}}</span>
    <a *ngIf="logged" class="btn btn-success" (click)="createAd()" routerLink="//edit">Create Ad</a>
    <a class="btn btn-success" routerLink="//">Main Page</a>
    <a class="btn btn-success" (click)="logOut()" routerLink='//logout'>Logout</a>
  </div>
</div>